section.slide{
	padding-top: 50px;
}

.cover h2 {
	margin: 50px 0 0;
	text-align:center;
	font-size:70px;
}
.cover p {
	margin:10px 0 0;
	text-align:center;
	color:#FFF;
	font-style:italic;
	font-size:20px;
}
.cover p a {
	color:#FFF;
}

.full{
	padding: 5px;
}

.loup{
	height: 100%;
	width: 100%;
}

.slide .shout{
	line-height: 1.4em;
}

.slide .shout.middle{
	font-size: 70px;
}

.quote{
	font-size: 60px;
    color: #585a5e;
}

.justify-double{
	display: flex;
    width: 100%;
    justify-content: space-between;
}

.slide .code code{
	font-size: 24px;
	line-height: 40px;
}

.stack{
	width: 300px;
}

.stack h3{
	text-align: center;
}

.stack-box{
	height: 400px;
    width: 100%;
    border: solid;
    display: flex;
    flex-direction: column-reverse;
}

.middle-padding{
	padding-left: 80px;
    padding-right: 50px;
}

.processing-code{
	background-color: #B0BEC5;
}

.code pre div{
	margin: 5px 0;
}

.execution-block{
	width: 95%;
    margin: 5px auto;
    background-color: #FFCA28;
}

.execution-block p{
	text-align: center;
    margin: 0;
    height: 60px;
}