.cover h2 {
	margin: 50px 0 0;
	text-align:center;
	font-size:70px;
}
.cover p {
	margin:10px 0 0;
	text-align:center;
	color:#FFF;
	font-style:italic;
	font-size:20px;
}
.cover p a {
	color:#FFF;
}

.full{
	padding: 5px;
}

.loup{
	height: 100%;
	width: 100%;
}

.slide .shout{
	line-height: 1.4em;
}

.slide .shout.middle{
	font-size: 90px;
}

.quote{
	font-size: 60px;
    color: #585a5e;
}